<html>
  <head></head>
  <body>
    <header class="app-header__header">
      <nav>
        <h1>
          <a href="/">Media Ranker</a>
          <small>Ranking the Best of Everything</small>
        </h1>

        <%= link_to "View top media", root_path %>
        <%= link_to "View all media", works_path %>
        <%= link_to "Add a new work", new_work_path %>
        <%= link_to "View all users", root_path %>
        <% "log in" %>

      </nav> 
    </header>
     <%= yield %>
  </body>
</html>
