<h1><%= @work.title %></h1>

  <h3>Type: <%= @work.category %></h3>
  <h3>Created by: <%= @work.creator %></h3>
  <h4>Published in: <%= @work.publication_year %><h4>

  <p><%= @work.description %>
  <%= link_to "Home", root_path %>
  <%= link_to "Edit this work", edit_work_path(@work.id) %>
  <%= button_to "Vote for this work", edit_work_path(@work.id) %>
  <%= button_to "Delete this work", work_path(@work.id), method: :delete, data: { confirm: "Is your intent to delete this work?"} %>
  </p>
